# FIFA 20 Career Mode Project

# Data Analysis

## Libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

## Loading in The dataset

In [13]:
df = pd.read_csv('cleaned_players_20.csv')
df.head()

,Unnamed: 0,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,...,75,96,33,37,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,...,85,95,28,32,24,7,11,15,14,11
2,2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,...,90,94,27,26,29,9,9,15,15,11
3,3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,...,11,68,27,12,18,87,92,78,90,89
4,4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,...,88,91,34,27,22,11,12,6,8,8

In [15]:
# Delete players with overalls less than 75

df_new = df[df['overall'] > 75]
df_new

,Unnamed: 0,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,...,75,96,33,37,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,...,85,95,28,32,24,7,11,15,14,11
2,2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,...,90,94,27,26,29,9,9,15,15,11
3,3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,...,11,68,27,12,18,87,92,78,90,89
4,4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,...,88,91,34,27,22,11,12,6,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1610,245326,M. Fagundez,35,176,76,Uruguay,Uruguay,76,76,...,62,80,74,77,68,7,12,10,16,9
1611,1611,245327,A. Vera,31,180,71,Uruguay,Uruguay,76,76,...,64,65,31,23,22,8,14,12,16,12
1612,1612,251691,A. Zamorado,38,182,78,Ecuador,Ecuador,76,76,...,86,70,40,26,15,6,11,8,6,10
1613,1613,251692,A. Aguilmera,33,194,83,Ecuador,Ecuador,76,76,...,57,65,76,78,80,16,6,13,7,13
1614,1614,251698,K. Berlaso,31,172,69,Ecuador,Ecuador,76,76,...,48,73,71,75,78,11,12,11,16,8

In [14]:
# export as new csv
df_new.to_csv('75 + overalls.csv')

In [37]:
# load new csv
players = df_new.copy()
players

,Unnamed: 0,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,...,75,96,33,37,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,...,85,95,28,32,24,7,11,15,14,11
2,2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,...,90,94,27,26,29,9,9,15,15,11
3,3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,...,11,68,27,12,18,87,92,78,90,89
4,4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,...,88,91,34,27,22,11,12,6,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,1610,245326,M. Fagundez,35,176,76,Uruguay,Uruguay,76,76,...,62,80,74,77,68,7,12,10,16,9
1611,1611,245327,A. Vera,31,180,71,Uruguay,Uruguay,76,76,...,64,65,31,23,22,8,14,12,16,12
1612,1612,251691,A. Zamorado,38,182,78,Ecuador,Ecuador,76,76,...,86,70,40,26,15,6,11,8,6,10
1613,1613,251692,A. Aguilmera,33,194,83,Ecuador,Ecuador,76,76,...,57,65,76,78,80,16,6,13,7,13
1614,1614,251698,K. Berlaso,31,172,69,Ecuador,Ecuador,76,76,...,48,73,71,75,78,11,12,11,16,8

In [38]:
players.dtypes

Unnamed: 0                  int64
sofifa_id                   int64
short_name                 object
age                         int64
height_cm                   int64
                            ...
goalkeeping_diving          int64
goalkeeping_handling        int64
goalkeeping_kicking         int64
goalkeeping_positioning     int64
goalkeeping_reflexes        int64
Length: 67, dtype: object

# Analysis Questions :
- Best players in the game
- Players with highest potential (less than 25 years) / (wonder kids)
- Best players per position
- Best players in Manchester United
- Most expensive players
- Players on highest wages (najua wa barca watakuwa wengi lmao)
- Oldest players (mretire bana aai)
- Youngest players (hata id bado)
- Best Left footed players
- 5 * 5 * weakfoot and skills (akina neymar)
- H/H workrate (akina brunoo)
- Best finishers, passers, tackers, set pieces etc
- Clubs on highest wages

### Best players in the game

In [34]:
# sort overall from highest to lowest
ovr = df[['short_name', 'overall']].sort_values(by='overall', ascending=False).head(10)
ovr

          short_name  overall
0           L. Messi       94
1  Cristiano Ronaldo       93
2          Neymar Jr       92
3           J. Oblak       91
4          E. Hazard       91
5       K. De Bruyne       91
6      M. ter Stegen       90
7        V. van Dijk       90
8          L. Modrić       90
9           M. Salah       90

### Wonder Kids

In [42]:
# Wonder kids
wonder_kids = df[['short_name', 'potential', 'age']].sort_values(by='potential', ascending=False)

In [44]:
#sort by age
wonder_kids = wonder_kids[wonder_kids['age'] < 25]
wonder_kids.head(10)

        short_name  potential  age
10       K. Mbappé         95   20
73      M. de Ligt         93   19
411     João Félix         93   19
74   G. Donnarumma         92   20
108      J. Sancho         92   19
109     K. Havertz         92   20
568   Vinícius Jr.         92   18
55         L. Sané         92   23
75      F. de Jong         91   22
77         N. Süle         90   23

### Best players per position

In [48]:
def best_position(position):
    df = players[players['team_position'] == position][['short_name', 'overall', 'team_position']]
    return df.sort_values(by='overall', ascending=False).head(15)

1. Best Strikers in the game

In [49]:
best_position('ST')

         short_name  overall team_position
12          H. Kane       89            ST
19        L. Suárez       89            ST
20   R. Lewandowski       89            ST
17        S. Agüero       89            ST
34        E. Cavani       88            ST
71      C. Immobile       86            ST
72     A. Lacazette       86            ST
96   Z. Ibrahimović       85            ST
141    M. Mandžukić       84            ST
152        D. Tadić       84            ST
138        E. Džeko       84            ST
163      A. Martial       83            ST
183  Borja Iglesias       83            ST
186    Paco Alcácer       83            ST
188       S. Haller       83            ST

2. Best Wingers

In [50]:
best_position('LW')

            short_name  overall team_position
1    Cristiano Ronaldo       93            LW
4            E. Hazard       91            LW
22        A. Griezmann       89            LW
26         R. Sterling       88            LW
39             S. Mané       88            LW
66         A. Di María       86            LW
116           M. Depay       84            LW
119           K. Coman       84            LW
237          Oyarzabal       82            LW
269            Muniain       82            LW
311     S. El Shaarawy       82            LW
323            Morales       82            LW
401          E. Zahavi       81            LW
405           M. Acuña       81            LW
384           D. Payet       81            LW

In [51]:
best_position('RW')

           short_name  overall team_position
0            L. Messi       94            RW
9            M. Salah       90            RW
10          K. Mbappé       89            RW
23          P. Dybala       88            RW
41     Bernardo Silva       87            RW
120         S. Gnabry       84            RW
164  Anderson Talisca       83            RW
198        F. Thauvin       83            RW
209           C. Vela       83            RW
254    Iñaki Williams       82            RW
255         H. Lozano       82            RW
309             Pedro       82            RW
532              Hulk       80            RW
547       S. Berghuis       80            RW
615          Raphinha       79            RW

3. Best midfielders

In [52]:
best_position('CAM')

        short_name  overall team_position
2        Neymar Jr       92           CAM
37         M. Reus       88           CAM
97        A. Gómez       85           CAM
113        D. Alli       84           CAM
132      M. Hamšík       84           CAM
135        M. Özil       84           CAM
212  R. Nainggolan       83           CAM
217       M. Kruse       83           CAM
219  G. Sigurðsson       83           CAM
247    S. Bergwijn       82           CAM
290  Santi Cazorla       82           CAM
302       Giuliano       82           CAM
319     J. Lingard       82           CAM
362      A. Ljajić       81           CAM
392      N. Gaitán       81           CAM

In [53]:
best_position('RCM')

          short_name  overall team_position
5       K. De Bruyne       91           RCM
8          L. Modrić       90           RCM
15          N. Kanté       89           RCM
58       M. Verratti       86           RCM
64        I. Rakitić       86           RCM
69            Parejo       86           RCM
85   Bruno Fernandes       85           RCM
107            Allan       85           RCM
149          Canales       84           RCM
166       C. Tolisso       83           RCM
192            Oscar       83           RCM
213        E. Banega       83           RCM
218     J. Henderson       83           RCM
221     Illarramendi       83           RCM
258        T. Partey       82           RCM

In [54]:
best_position('LCM')

         short_name  overall team_position
33      David Silva       88           LCM
36         T. Kroos       88           LCM
68         Coutinho       86           LCM
75       F. de Jong       85           LCM
80             Saúl       85           LCM
129   João Moutinho       84           LCM
139    G. Wijnaldum       84           LCM
147        Paulinho       84           LCM
157          Fabián       83           LCM
173       A. Rabiot       83           LCM
229     C. Aránguiz       83           LCM
232  Danilo Pereira       83           LCM
287     D. De Rossi       82           LCM
312   Ander Herrera       82           LCM
282     E. Forsberg       82           LCM

In [55]:
best_position('CDM')

           short_name  overall team_position
21    Sergio Busquets       89           CDM
44        Fernandinho       87           CDM
52             Thiago       87           CDM
42           Casemiro       87           CDM
65          M. Pjanić       86           CDM
81            Fabinho       85           CDM
189  William Carvalho       83           CDM
199          Jorginho       83           CDM
350          W. Ndidi       81           CDM
361       M. Brozović       81           CDM
391          Fernando       81           CDM
394      Luiz Gustavo       81           CDM
512           M. Díaz       80           CDM
563    Everton Andrão       80           CDM
491     J. Mascherano       80           CDM

4. Best Defenders

In [56]:
best_position('CB')

         short_name  overall team_position
126      S. de Vrij       84            CB
231       F. Acerbi       83            CB
377    L. Koscielny       81            CB
395      N. Nkoulou       81            CB
474   J. Guilavogui       80            CB
515       S. Bender       80            CB
520       M. Hasebe       80            CB
538         K. Vogt       80            CB
573       I. Konaté       79            CB
868          Hilton       78            CB
893       C. Zapata       78            CB
800    J. Lascelles       78            CB
830         L. Dunk       78            CB
827    Rafael Tolói       78            CB
1096       C. Coady       77            CB

In [57]:
best_position('RB')

              short_name  overall team_position
61            J. Kimmich       86            RB
94              Carvajal       85            RB
144          Azpilicueta       84            RB
148            K. Walker       84            RB
160  T. Alexander-Arnold       83            RB
249        Nélson Semedo       82            RB
265      Ricardo Pereira       82            RB
289          Jesús Navas       82            RB
400          A. Florenzi       81            RB
399        André Almeida       81            RB
382          L. Piszczek       81            RB
507              D. Wass       80            RB
525          K. Trippier       80            RB
693              Mariano       79            RB
744      Maikel Catarino       79            RB

In [58]:
best_position('LB')

         short_name  overall team_position
51       Jordi Alba       87            LB
92         D. Alaba       85            LB
101         Marcelo       85            LB
103     Alex Sandro       85            LB
82     A. Robertson       85            LB
124     Alex Telles       84            LB
174        Grimaldo       83            LB
179        L. Digne       83            LB
266   N. Tagliafico       82            LB
275       N. Schulz       82            LB
303      A. Kolarov       82            LB
339            Gayà       81            LB
347         L. Shaw       81            LB
549         Ismaily       80            LB
564  Welington Dano       80            LB

5. Best Goalkeepers

In [59]:
best_position('GK')

        short_name  overall team_position
3         J. Oblak       91            GK
6    M. ter Stegen       90            GK
13         Alisson       89            GK
14          De Gea       89            GK
25         Ederson       88            GK
28     T. Courtois       88            GK
30   S. Handanovič       88            GK
31        M. Neuer       88            GK
32       H. Lloris       88            GK
60     W. Szczęsny       86            GK
88        R. Bürki       85            GK
87      P. Gulácsi       85            GK
86        A. Lopes       85            GK
74   G. Donnarumma       85            GK
111           Kepa       84            GK

### Best players in GGMU

In [60]:
players[players['club'] == 'Manchester United'][['short_name', 'overall', 'club']]

           short_name  overall               club
14             De Gea       89  Manchester United
24           P. Pogba       88  Manchester United
163        A. Martial       83  Manchester United
171       M. Rashford       83  Manchester United
280        H. Maguire       82  Manchester United
295         Juan Mata       82  Manchester United
301        A. Sánchez       82  Manchester United
319        J. Lingard       82  Manchester United
335       V. Lindelöf       81  Manchester United
347           L. Shaw       81  Manchester United
396          N. Matić       81  Manchester United
462         E. Bailly       80  Manchester United
508         S. Romero       80  Manchester United
534       C. Smalling       80  Manchester United
571    A. Wan-Bissaka       79  Manchester United
644              Fred       79  Manchester United
654          P. Jones       79  Manchester United
957           M. Rojo       78  Manchester United
1028     S. McTominay       77  Manchester United
1044  Andreas Pereira       77  Manchester United
1140         A. Young       77  Manchester United

### Most expensive players

In [62]:
players[['short_name', 'overall', 'value_eur']].sort_values(by='value_eur', ascending=False).head(10)

      short_name  overall  value_eur
2      Neymar Jr       92  105500000
0       L. Messi       94   95500000
10     K. Mbappé       89   93500000
4      E. Hazard       91   90000000
5   K. De Bruyne       91   90000000
12       H. Kane       89   83000000
9       M. Salah       90   80500000
7    V. van Dijk       90   78000000
3       J. Oblak       91   77500000
23     P. Dybala       88   76500000

### Highest wages

In [63]:
players[['short_name', 'overall', 'wage_eur']].sort_values(by='wage_eur', ascending=False).head(10)

           short_name  overall  wage_eur
0            L. Messi       94    565000
4           E. Hazard       91    470000
1   Cristiano Ronaldo       93    405000
5        K. De Bruyne       91    370000
22       A. Griezmann       89    370000
19          L. Suárez       89    355000
8           L. Modrić       90    340000
36           T. Kroos       88    330000
17          S. Agüero       89    300000
21    Sergio Busquets       89    300000

In [68]:
# clubs paying most wages
players.groupby('club')[['club', 'wage_eur']].sum().sort_values(by='wage_eur', ascending=False).head(10)

                     wage_eur
club
Real Madrid           5083000
FC Barcelona          4601000
Manchester City       3808000
Juventus              3442000
Liverpool             2535000
Manchester United     2494000
FC Bayern München     2395000
Chelsea               2340000
Tottenham Hotspur     2287000
Paris Saint-Germain   2227000