# FIFA 20 Career Mode Project

# Cleaning Stage

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the datasets

In [2]:
df = pd.read_csv('/Users/RyanMburu/Documents/DS Projects/personal-projects/FIFA-20-career/players_20.csv')
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB

# Data Cleaning

In [6]:
# check the dataset's datatype

df.dtypes.head(30)

sofifa_id                     int64
player_url                   object
short_name                   object
long_name                    object
age                           int64
dob                          object
height_cm                     int64
weight_kg                     int64
nationality                  object
club                         object
overall                       int64
potential                     int64
value_eur                     int64
wage_eur                      int64
player_positions             object
preferred_foot               object
international_reputation      int64
weak_foot                     int64
skill_moves                   int64
work_rate                    object
body_type                    object
real_face                    object
release_clause_eur          float64
player_tags                  object
team_position                object
team_jersey_number          float64
loaned_from                  object
joined                       object
contract_valid_until        float64
nation_position              object
dtype: object

## Validity

#### Remove useless columns
#### Columns to be dropped :

- player url
- long name
- dob
- player_position
- real_face
- player_tags
- national jersey
- player traits
- some stats

In [17]:
def delete_column(dataframe, col_name):
    dataframe.drop([col_name], axis=1, inplace=True)
    return dataframe.head()

In [14]:
# drop player url
delete_column(df, 'player_url')

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [15]:
# drop long name
delete_column(df, 'long_name')

,sofifa_id,short_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona,94,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus,93,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,Shao Shuai,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,56,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,Xiao Mingjie,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,56,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,Zhang Wei,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,56,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,Wang Haijian,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,54,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,Pan Ximing,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,51,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [16]:
# drop dob
delete_column(df, 'dob')

,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,Shao Shuai,22,186,79,China PR,Beijing Renhe FC,48,56,40000,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,Xiao Mingjie,22,177,66,China PR,Shanghai SIPG FC,48,56,40000,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,Zhang Wei,19,186,75,China PR,Hebei China Fortune FC,48,56,40000,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,Wang Haijian,18,185,74,China PR,Shanghai Greenland Shenhua FC,48,54,40000,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,Pan Ximing,26,182,78,China PR,Hebei China Fortune FC,48,51,40000,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [19]:
# drop player position
delete_column(df, 'player_positions')

,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [20]:
#drop remaining columns
delete_column(df, 'real_face')
delete_column(df, 'player_tags')
delete_column(df, 'nation_position')
delete_column(df, 'nation_jersey_number')
delete_column(df, 'player_traits')

,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [21]:
# delete last few columns
df.drop(['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'rcb', 'lcb', 'cb', 'rb'], axis=1, inplace=True)
df.head()

,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,cm
0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,...,96,33,37,26,6,11,15,14,8,87+2
1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,...,95,28,32,24,7,11,15,14,11,81+3
2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,94,27,26,29,9,9,15,15,11,82+3
3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,68,27,12,18,87,92,78,90,89,NaN
4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,...,91,34,27,22,11,12,6,8,8,83+3

In [22]:
delete_column(df, 'cm')

,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,...,75,96,33,37,26,6,11,15,14,8
1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,...,85,95,28,32,24,7,11,15,14,11
2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,90,94,27,26,29,9,9,15,15,11
3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,11,68,27,12,18,87,92,78,90,89
4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,...,88,91,34,27,22,11,12,6,8,8

In [40]:
df.drop(['loaned_from', 'joined', 'contract_valid_until'], axis=1, inplace=True)

# Completeness

## Null values

### Check for null values

In [41]:
# Number of missing values per column

df.isna().sum().head(40)

sofifa_id                         0
short_name                        0
age                               0
height_cm                         0
weight_kg                         0
nationality                       0
club                              0
overall                           0
potential                         0
value_eur                         0
wage_eur                          0
preferred_foot                    0
international_reputation          0
weak_foot                         0
skill_moves                       0
work_rate                         0
body_type                         0
release_clause_eur             1298
team_position                   240
team_jersey_number              240
pace                           2036
shooting                       2036
passing                        2036
dribbling                      2036
defending                      2036
physic                         2036
gk_diving                     16242
gk_handling                   16242
gk_kicking                    16242
gk_reflexes                   16242
gk_speed                      16242
gk_positioning                16242
attacking_crossing                0
attacking_finishing               0
attacking_heading_accuracy        0
attacking_short_passing           0
attacking_volleys                 0
skill_dribbling                   0
skill_curve                       0
skill_fk_accuracy                 0
dtype: int64

## Handling null values

In [42]:
# Replace entire df null values with zeros
df.fillna(0)

,sofifa_id,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,158023,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,...,75,96,33,37,26,6,11,15,14,8
1,20801,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,...,85,95,28,32,24,7,11,15,14,11
2,190871,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,90,94,27,26,29,9,9,15,15,11
3,200389,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,11,68,27,12,18,87,92,78,90,89
4,183277,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,...,88,91,34,27,22,11,12,6,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,Shao Shuai,22,186,79,China PR,Beijing Renhe FC,48,56,40000,...,39,41,45,50,52,5,5,13,5,14
18274,250995,Xiao Mingjie,22,177,66,China PR,Shanghai SIPG FC,48,56,40000,...,37,35,42,53,57,13,6,14,11,9
18275,252332,Zhang Wei,19,186,75,China PR,Hebei China Fortune FC,48,56,40000,...,36,39,46,52,46,7,8,10,6,14
18276,251110,Wang Haijian,18,185,74,China PR,Shanghai Greenland Shenhua FC,48,54,40000,...,36,40,39,44,54,14,9,13,13,13
18277,233449,Pan Ximing,26,182,78,China PR,Hebei China Fortune FC,48,51,40000,...,38,42,52,42,48,8,12,14,9,10

In [43]:
df.isna().any()

sofifa_id                  False
short_name                 False
age                        False
height_cm                  False
weight_kg                  False
                           ...
goalkeeping_diving         False
goalkeeping_handling       False
goalkeeping_kicking        False
goalkeeping_positioning    False
goalkeeping_reflexes       False
Length: 66, dtype: bool

In [47]:
df.duplicated().sum()

0

## The rest of the dataset has accurate results, has no duplicates, and the datatypes are satisfactory

## The column names are ok as well

# Export csv

In [48]:
def export_csv(dataframe):
    csv_name = input("Enter desired CSV name : ")
    new_csv = dataframe.to_csv(csv_name)
    return new_csv

In [49]:
export_csv(df)